@charset "utf-8";

:root{
    --cor0: #2D5E13;
    --cor1: #1c3a0c;
    --cor3: #142c09;
}

*{
    font-family: 'Abyssinica SIL', serif;
    text-align: center;
}

.container-fluid {
    width: 300px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
.msg{
    background-color: #81db96;
    border-color: #1c3a0c;
    border: 1px solid black;
    width: 50%;
    text-align: center;
    padding: 5px;
    margin: auto;
}
.menu{
    text-align: right;
    display: contents;
    color: var(--cor3);
}
.form-control{
    display: inline-block;
    margin: 5px;
    text-align: center;
    max-width: 160px;
    max-height: 40px;
}

.form-group{
    text-align: center;
    display: inline-block; 
    margin: 5px;
}
.formulario1{
    /*border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 5px;*/
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    min-width: 400px
}
.formulario1 p{
    padding-top: 15px;
}
#calendar{
    margin-bottom: 50px;
}

html, body{
    min-height: 100%;
}

header{
    margin: -8px;
    min-height: 90px;
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}
header nav a{
    text-align: right;
    text-decoration: none;
    color: var(--cor3);
}


header nav a:hover{
    color: #1c3a0c;
    text-decoration: underline;

}


header li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}
body{
    padding: 0;
    margin: 0;
    padding-bottom: 70px;
}
body p{
    margin: 20px;
}
h2{
    padding: 50px;
}


h1 {
    text-align: center;
    padding: 30px;
}
footer{
    bottom:0;
    background-color: var(--cor3);
    color: rgb(75, 75, 75);
    font-size: 10px;
    width: 100%;
    line-height: 20px;
    left:0;
}
footer p{
    margin: 0px;
    padding: 6px;
}
footer a{
    text-decoration: none;
    color: rgb(75, 75, 75);
    margin-bottom: 0px;
}
footer a:hover{
    text-decoration: underline;
    margin-bottom: 0px;
    color: rgb(112, 111, 111);
}
