@charset "utf-8";

:root{
    --cor0: #2D5E13;
    --cor1: #1c3a0c;
    --cor3: #142c09;
}

*{
    font-family: 'Abyssinica SIL', serif;
    text-align: center;
}

header{
    margin: -8px;
    min-height: 90px;
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.527);
}
header nav a{
    text-align: right;
    text-decoration: none;
    color: var(--cor3);
}
.menu{
    text-align: right;
    display: contents;
    color: var(--cor3);
}

header nav a:hover{
    color: #1c3a0c;
    text-decoration: underline;

}

.form-control{
    display: inline-block;
    margin: 5px;
    text-align: center;
    max-width: 160px;
    max-height: 40px;
}
.form-group{
    text-align: center;
    display: inline-block; 
    margin: 5px;
    max-width: 160px;
    max-height: 20px;
}
.formulario1{
    border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 5px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    min-width: 400px
}
.formulario1 p{
    padding-top: 15px;
}



header li{
    list-style: none;
    display: inline-block;
    padding-left: 10px;
}


h1 {
    text-align: center;
    padding: 30px;
}

footer{
    background-color: var(--cor3);
    color: rgb(75, 75, 75);
    font-size: 10px;
    text-align: center;
    margin: -8px;
    margin-top: 10px;
}
footer p{
    padding: 6px;
}
footer a{
    text-decoration: none;
    color: rgb(75, 75, 75);
}
footer a:hover{
    text-decoration: underline;
    color: rgb(112, 111, 111);
}
